<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <style>
        .login-in{
            margin-top: 180px;
        }
        .vCode{
          height: 35px;
          cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary login-in">
                    <div class="panel-heading">
                      <h3 class="panel-title">登录学生管理系统</h3>
                    </div>
                    <div class="panel-body">
                    <!-- 表单 -->
                        <form class="form-horizontal" method="POST" action="/manager/login">
                            <div class="form-group">
                              <label for="username"  class="col-sm-2 control-label">用户名</label>
                              <div class="col-sm-10">
                                <input type="text" name="username" value="Jack" class="form-control" id="username" placeholder="请输入用户名">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="userpass" class="col-sm-2 control-label">密码</label>
                              <div class="col-sm-10">
                                <input type="password" name="userpass" value="123" class="form-control" id="userpass" placeholder="请输入密码">
                              </div>
                            </div>
                            <div class="form-group">
                                    <label for="userpass" class="col-sm-2 control-label">验证码</label>
                                    <div class="col-sm-6">
                                      <input type="vCode" name="vCode" class="form-control" id="vCode" placeholder="请输入验证码">
    
                                    </div>
                                    <div class="col-sm-4">
                                        <img class='vCode' src="/manager/vcode" alt="">
                                      </div>
                                  </div>
                            
                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-warning login">登陆</button>
                                <a href="/manager/register" class="btn btn-success">注册</a>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>
    <script src="/bootstrap/js/jquery-1.12.4.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- 导入md5加密的js文件 -->
    <script src="/md5/md5.min.js"></script>
    <script>
      // 点击验证码更换,实际是刷新img的src
      $('.vCode').click(function(){
        $(this).attr('src','/manager/vcode?'+Math.random()*10)
      })
      //打开页面自动刷新验证码
      $('.vCode').click()
      //给登陆按钮注册点击事件,对用户输入的密码进行加密
      $('.login').click(function(){
        //获取用户输入的密码
        let value=$('#userpass').val()
        //给密码加密再重新赋值
        $('#userpass').val(md5(value,'hello'))
        //return false;
      })
    </script>